body{
    background-color: rgb(242, 226, 206);
}
.App-title{
    text-align: center;
}
.search-bar{
  display: block;
  width: 50%;
  margin: 10px auto;
  font-size: 25px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid grey;
  padding: 10px;
}
.Temprature-text{
    text-align: center;
    font-size: 25px;
}